body { font-family:"Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif }
h1 { padding:10px 0 }
h2 { padding-bottom:10px }
h3 { color:#999 }
hr  { border-color:#000 }
.logo {
  display:block;
  margin-bottom:15px;
  padding-left:14px;
  margin-top: 10px;
}
.logo:hover { text-decoration:none }
.method { font-weight:bold }
.description { white-space:pre }
div.name > b[data-param^="setup."]:before,div.name > b[data-param^="options."]:before,div.name > b[data-param^="settings."]:before {
  content:"\21AA ";
  display: inline-block;
  margin-left: 1em;
}
.parameters .parameter:nth-child(odd) { background-color:#f4f4f4 }
.parameter .name { overflow:hidden; text-overflow:ellipsis; }
.parameter .name:hover { overflow:auto; text-overflow:ellipsis; white-space:normal }
.footer { border-top: 1px solid #E5E5E5; margin-top: 3em; padding: 1em 2em; }
.visible-phone { display:none }
.visible-tablet { display:none }
.visible-desktop { display:block }
.hidden-phone { display:block }
.hidden-tablet { display:block }
.hidden-desktop { display:none }
.alert a { border-bottom:1px solid }
.alert a:hover { text-decoration:none }
@media (max-width: 768px) {
  .hidden-tablet,.hidden-phone { display:none !important }
}
.nav-parent { text-transform: uppercase; font-weight: bold; }
.nav-parent > a { color:#333 }
.nav-children { padding-left: 1em; }
.name { white-space:nowrap }
pre { font-size:13px }
.member h2 { display:inline-block }
#main h4 { font-size:16px; color:#999; font-weight:normal; }
.sibbill {
  background-color: #40263B;
  color: #FFF;
  display: inline-block;
  border-radius: 3px;
  padding: 1px 4px;
  font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
  position: relative;
  top: -7px;
}
.sibbill:hover {
  text-decoration: none;
  color: #FFF;
  background-color: purple;
}
.sibbill > img {
  width: 12px;
  height: 12px;
  vertical-align: -2px;
}
.navbar .nav > li > a { color:#AEAEAE }
