body,p { font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; font-size:14px; }
#main h1 {
  margin:10px 0 25px 0;
  font-size:38px;
}
#main h2::before {
  content: '\2605';
  margin-right: 5px;
}
#main h2 {
  padding-top:15px;
  padding-bottom:10px;
  font-size:28px;
}
#main h3 {
  padding-bottom:10px;
  padding-left:10px;
  color:#a78b04;
  font-size:23px;
}
#main h4, #main h3 + .content {
  padding-left: 20px;
}
#main h4 {
  font-size:18px;
  color:#a78b04;
  font-weight:normal;
  padding-bottom:10px;
  padding-top:5px;
}
#main h4 + .content {
  padding-left: 30px;
}
#main h5 {
  font-size:14px;
  padding-bottom: 10px;
  padding-top: 5px;
}
hr  { border-color:#000 }
.logo {
  display:block;
  margin-bottom:15px;
  padding-left:14px;
  margin-top: 10px;
}
.logo:hover { text-decoration:none }
.method { font-weight:bold }
.description { white-space:pre-wrap }
div.name > b[data-param^="setup."]:before,div.name > b[data-param^="options."]:before,div.name > b[data-param^="settings."]:before {
  content:"\21AA ";
  display: inline-block;
  margin-left: 1em;
}
.parameters .parameter:nth-child(odd) { background-color:#f4f4f4 }
.parameter .name { overflow:hidden; text-overflow:ellipsis; }
.parameter .name:hover { overflow:auto; text-overflow:ellipsis; white-space:normal }
.footer { border-top: 1px solid #E5E5E5; margin-top: 3em; padding: 1em 2em; }
.visible-phone { display:none }
.visible-tablet { display:none }
.visible-desktop { display:block }
.hidden-phone { display:block }
.hidden-tablet { display:block }
.hidden-desktop { display:none }
.alert a { border-bottom:1px solid }
.alert a:hover { text-decoration:none }
@media (max-width: 768px) {
  .hidden-tablet,.hidden-phone { display:none !important }
}
.nav-parent { text-transform: uppercase; font-weight: bold; }
.nav-parent > a { color:#333 }
.nav-children { padding-left: 1em; }
.name { white-space:nowrap }
pre { font-size:13px }
.member h2 { display:inline-block }
.sibbill {
  background-color: #40263B;
  color: #FFF;
  display: inline-block;
  border-radius: 3px;
  padding: 1px 4px;
  font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
  position: relative;
  top: -7px;
}
.sibbill:hover {
  text-decoration: none;
  color: #FFF;
  background-color: purple;
}
.sibbill > img {
  width: 12px;
  height: 12px;
  vertical-align: -2px;
}
.navbar .nav > li > a { color:#AEAEAE }
/* alert with border like the vuetify one */
.alert-bordered {
  background-color:#FFF;
  border-width:1px 5px 1px 5px;
  display:inline-block;
}
.alert-danger.alert-bordered {
  border-color:red;
}
.alert-info.alert-bordered {
  border-color:blue;
}
/* shadow from last Bootstrap */
.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
/* for the comparative table */
#main table {
  margin-bottom:10px;
}
#main caption {
  font-size: 12px;
  text-align: left;
}
#main td {
  border: 1px solid #CCC;
  padding: 3px;
}
